*{
    box-sizing: border-box;
}
a {
    text-decoration: none; 
   }

.bg{
  background-image: url(../projekt_czu/img/bg-2.jpg);  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.menu__list{
display: flex;
justify-content: space-around;
text-transform: uppercase;
    color: #250fba;
    font-weight:600 ;
    padding: 13px 39px ;
    background: #08c5d3;
    opacity: 0.8;
}

h1{
    display: flex;
    justify-content: space-around;
   
    font-size: 34;
	font-weight:bolder;
    background-color:rgb(0, 191, 255);
   
    margin: 90px 400px;
    padding: 30px 20px;
   
    border-radius: 125px;
    

}
#pra{
	font-weight:bolder;
    text-align: center;
}
#teo{
	font-weight:bolder;
    text-align: center;
}
.content__all {
    display: flex;
    justify-content: space-between;
    margin: 0 45px;
    
}
.metodika {
    text-align:  center;
    margin: 25px 0;
    background-color:rgb(0, 225, 255);
    border-radius: 60px;
    
    padding: 25px 25px;
    text-align:justify;
font-size: 24;
}

.cil {
    text-align:  center;
    margin: 25px 0;
    background-color:rgb(0, 225, 255);
    border-radius: 25px;
    
    padding: 25px 25px;
    text-align:justify;
font-size: 28;
    
}
  
  h2{
    text-align: center;
	font-weight:bolder;
  }
.aside{
    background: #6495ED;
	border-radius: 5px;
    padding: 15px 20px 15px 20px;
    text-align: center;
    margin: 40px 20px;
    float: left;
}
.cast {
 display: flex;
 flex-direction: column;
    border-left: 500px;
    padding: 10px 400px;
}

.teocast {
    text-align:  center;
    margin: 50px 0;
    background-color:rgb(0, 225, 255);
    border-radius: 25px;
    
    padding: 25px 25px;
    text-align:justify;
font-size: 28;
}
.pracast {
    text-align:  center;
    margin: 50px 0px;
    background-color:rgb(0, 225, 255);
    border-radius: 25px;
    padding: 25px 25px;
    text-align:justify;
font-size: 28;
}
a:hover {
	font-size: 18px;
	transition: 0.1s all;
}
footer {
	font-weight:bolder;
	font-size: 24;
	display: block;
	height: 40px;
	background: #FFFFFF;
}